$page-color: #e6eaf2;
$header-color: RGB(215, 217, 216);
$burger-color: #454d46;
$menu-color: #718ed9;
$figcaption-color: RGB(49, 51, 47);
$form-color: #37435c;
$focus-color: #f1f511;
$hover-color: #168272;
$button-color: #b6a8ba;
$h3-color: #413554;
$select-color: #c932ba;
$first-circle-color: #5a58a1;
$second-circle-color: #4845b0;
$third-circle-color: #3834c7;
$fourth-circle-color: #8584c2;
$fifth-circle-color: #575673;
$sixth-circle-color: #33333d;
$seventh-circle-color: #615d69;
$eights-circle-color: #b5aec2;
$nineths-circle-color: #dbd3eb;
$tens-circle-color: #e3caed;
$footer-color: #161517;